@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Jost:wght@300;400&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(38, 36, 36, 0.279);
}
.form-div{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 40%;
    border-radius: 5px; 
    margin-left: 5%;
}
form{
    width: 100%;
    padding: 40px 90px;  
}

.box{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 25px;
}

.txtbox{
    width: 50%;
    height: 30px;
    border: 1px solid #bbbaba;
    border-radius: 3px;
    outline: none;
}

.btn{
    margin-left: 9rem;
    width: 30%;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    background-color: rgb(73, 153, 73);
    color:aliceblue
}


table, td, th {  
    border: 3px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
    margin-left: 5%;
  }
  
  th, td {
    padding: 15px;
  }

.delete-btn{
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: rgba(231, 37, 37, 0.805);
    color:aliceblue;
    padding : 10px 15px;
}